{% extends "base_generic.html" %}

{% block content %}



{% if user.is_authenticated %}

  {% if not user_cars %}
    <p>No cars are available.</p>
    <p><a href="{% url 'cars:car_new' %}">Register a car</a></p>
  {% else %}
  <h2>Home</h2>
  <h3><a href="{% url 'cars:index'%}">Your Cars</a></h3>
  <ul>
    {% for car in user_cars %}
    <li><a href="{% url 'cars:detail' car.id %}">{{ car.name }}</a></li>
    {% endfor %}
  </ul>
  <h3><a href="{% url 'fillups:fillup_new'%}">Log a new Fillup</a></h3>
  {% endif %}

{% else %}
<h2>Gascan</h2>
<p>Please register to to use Gascan.</p>
<p><a class="gascan-button" href="/register/">Register</a>

{% endif %}

{% endblock %}