{% extends "base_generic.html" %}

{% block content %}



{% if user.is_authenticated %}

  {% if not user_cars %}
    <p>No cars are available.</p>
    <p><a href="{% url 'cars:car_new' %}">Register a car</a></p>
  {% else %}

  <h2>Your Cars</h2>
  
  <ul class="list ba b--light-silver br3">
    {% for car in user_cars %}
    <li class="ph3 pv2 bb b--light-silver"><a href="{% url 'cars:detail' car.id %}">{{ car.name }}</a></li>
    {% endfor %}
  </ul>
  
  <p><a href="{% url 'cars:index'%}">View All Cars</a></p>

  <p class="mt4"><a class="gascan-button" href="{% url 'fillups:fillup_new'%}">Log a new Fillup</a></p>
  {% endif %}

{% else %}
<h2>Gascan</h2>
<p>Please register to to use Gascan.</p>
<p><a class="gascan-button" href="/register/">Register</a>

{% endif %}

{% endblock %}