{% extends "base_generic.html" %}
{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'logs/style.css' %}">

{% if not latest_car_list %}

  <p>No cars are available.</p>
  <p><a href="{% url 'cars:car_new' %}">Register a car</a></p>

{% else %}

<h2>Your Cars</h2>
<ul class="list ba b--light-silver br3">
  {% for car in latest_car_list %}
  <li class="ph3 pv2 bb b--light-silver"><a href="{% url 'cars:detail' car.id %}">{{ car.name }}</a></li>
  {% endfor %}
</ul>

{% endif %}
{% endblock %}