@import url(/static/scss/tachyons.min.css?f7f1453350e8);
/* line 4, staticfiles/scss/main.scss */
.gascan-logo {
  display: block;
  margin-top: -2rem;
  max-width: 12rem; }

/* line 11, staticfiles/scss/main.scss */
.header-container {
  background-color: #ea0507; }

/* line 16, staticfiles/scss/main.scss */
.focus-outline:focus {
  box-shadow: 0 0 0 2px yellowgreen; }

/* line 21, staticfiles/scss/main.scss */
footer {
  background-color: #F5D33C; }
  /* line 24, staticfiles/scss/main.scss */
  footer .m {
    background-color: #ea0507;
    color: #F5D33C;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding: 0;
    font-family: Verdana,Geneva,sans-serif;
    padding: 0em 0.4em;
    display: inline;
    margin-right: 0.25em; }
    /* line 36, staticfiles/scss/main.scss */
    footer .m .letter {
      display: inline-block;
      -webkit-transform: scale(1.5, 1);
      /* Safari and Chrome */
      -moz-transform: scale(1.5, 1);
      /* Firefox */
      -ms-transform: scale(1.5, 1);
      /* IE 9 */
      -o-transform: scale(1.5, 1);
      /* Opera */
      transform: scale(1.5, 1);
      /* W3C */ }
    /* line 45, staticfiles/scss/main.scss */
    footer .m + p {
      color: #d10406; }
  /* line 50, staticfiles/scss/main.scss */
  footer a {
    color: #ea0507;
    text-decoration: none; }
    /* line 54, staticfiles/scss/main.scss */
    footer a:hover, footer a:focus {
      color: #860304;
      text-decoration: underline; }
    /* line 58, staticfiles/scss/main.scss */
    footer a:active {
      color: #b80406; }

/* line 66, staticfiles/scss/main.scss */
html, body {
  height: 100%; }

/* line 70, staticfiles/scss/main.scss */
body {
  display: flex;
  flex-direction: column; }

/* line 75, staticfiles/scss/main.scss */
.gascan-content {
  flex: 1 0 auto; }

/* line 79, staticfiles/scss/main.scss */
footer {
  flex-shrink: 0; }

/* line 83, staticfiles/scss/main.scss */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }
