@import 'colors.scss';
@import 'tachyons.min.css';

.gascan-logo {
    display: block;
    margin-top: -1rem;
    max-width: 12rem;
}

.header-container {
    background-color: $brand-main;

    nav {
        a {
            color: white;

            &:hover, &:focus {
                color: lighten($brand-accent, 20);
                text-decoration: underline;
                opacity: 1;
            }
            &:active {
                color: lighten($brand-accent, 10);
                opacity: 1;
            }            
        }
    }
}

.focus-outline {
    &:focus {
        box-shadow: 0 0 0 4px yellowgreen;
    }
}

.gascan-button {
    background-color: $brand-main;
    color: white;
    border: 0;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    border-radius: 0.25em;
    cursor: pointer;
    margin: 1em 0;

    &:hover, &:focus {
        background-color: darken($brand-main, 15);
    }

    &:active {
        background-color: darken($brand-main, 20);
    }        
}

a.gascan-button {
    text-decoration: none;
}

form {

    label {
        display: block;
        width: 100%;

    }

    select {
        width: 100%;
        // border: 1px solid gray;
        // outline: 0;
        line-height: 1.4;
        // border-radius: 0.2em;
        padding: 0.25em 0.5em;

        &:focus {
            box-shadow: 0 0 0 4px $brand-accent;
        }        

        + label {
            margin-top: 0.5em;
        }        
    }

    input {
        &[type=text], &[type=email], &[type=password], &[type=number] {
            width: 100%;
            border: 1px solid gray;
            outline: 0;
            line-height: 1.4;
            border-radius: 0.2em;
            padding: 0.25em 0.5em;

            &:focus {
                box-shadow: 0 0 0 4px $brand-accent;
            }
        }

        + label {
            margin-top: 0.5em;
        }
    }
}


footer {
    background-color: $brand-accent;
    
    .m {
        background-color: $brand-main;
        color: $brand-accent;
        text-align: center;
        font-weight: bold;
        font-size: 2em;
        padding: 0;
	    font-family: Verdana,Geneva,sans-serif; 
        padding: 0em 0.4em;
        display: inline;
        margin-right: 0.25em;
        
        .letter {
            display:inline-block;
            -webkit-transform:scale(1.5,1); /* Safari and Chrome */
            -moz-transform:scale(1.5,1); /* Firefox */
            -ms-transform:scale(1.5,1); /* IE 9 */
            -o-transform:scale(1.5,1); /* Opera */
            transform:scale(1.5,1); /* W3C */
        }

        + p {
            color: darken($brand-main, 5)
        }
    }

    a {
        color: $brand-main;
        text-decoration: none;

        &:hover, &:focus {
            color: darken($brand-main, 20);
            text-decoration: underline;
        }
        &:active {
            color: darken($brand-main, 10);
        }
    }
}

// for sticky footer

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.gascan-content {
    flex: 1 0 auto;
}

.gascan-content-inner {
    display: block;
    max-width: 1000px;
}

footer {
    flex-shrink: 0;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

h2 {
    color: darken($brand-main, 5);
}

.list {
    padding-left: 0;

    :last-child {
        border-bottom: 0;
    }
}