
{% extends "base_generic.html" %}
{% block content %}

<h2><a href="{% url 'cars:detail' fillup.car.id %}">{{ fillup.car }}</a></h2>

{% if error_message %}
  <p><strong>{{error_message}}</strong></p>
{% endif %}

<ul class="list">
  <li><strong>Fillup Date:</strong> {{ fillup.fillup_date }}</li>
  <li><strong>Odometer Reading:</strong> {{ fillup.odometer }}</li>
  <li><strong>Gallons of Gas:</strong> {{ fillup.gas_gallons }}</li>
  <li><strong>Miles Driven:</strong> {{ fillup.miles_driven }}</li>
  <li><strong>Fillup MPG:</strong> {{ fillup.mpg }}</li>
  <li><strong>Latitude:</strong> {{ fillup.latitude }}</li>
  <li><strong>Longitude:</strong> {{ fillup.longitude }}</li>

</ul>

{% endblock %}